@import url("../index.css");

.booking_container {
    background-color: var(--color-logoTheme);
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto 10px;
    border-radius: 10px;
    padding: 4px 0px;
}

.calendar_icon {
    color: var(--color-black);
    font-size: 1.5rem;
}

.dialog_book {
    max-width: 1400px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-height: 350px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

.dialog_book_header {
    width: 100%;
    height: 40px;
    position: relative;
}
.dialog_book_close_button {
    position: absolute;
    right: 7px;
    top: 7px;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    border: 1px solid transparent;
}

.dialog_book_close_button_icon {
    background-color: var(--color-logoTheme);
    font-size: 1.3rem;
    border-radius: 5px;
}

@media (min-width: 650px) {
    .booking_container {
    }
}
