@import url("../index.css");

.booking_container {
    background-color: var(--color-logoTheme);
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto 10px;
    border-radius: 10px;
    padding: 4px 0px;
    cursor: pointer;
}

.calendar_icon {
    color: var(--color-black);
    font-size: 1.5rem;
}

.dialog_book_venue_info {
    padding: 1rem;
    margin: auto;
    text-align: center;
}
.dialog_book_venue_date_input {
    display: flex;
    justify-content: space-around;
}

.dialog_book_venue_date_input * {
    padding: 0.2rem;
    margin: 0.2rem;
}

.dialog_book_venue_calendar {
    display: flex;
    place-content: center;
}

.responsive_calendar {
    /* by setting font-size, all the elements will correspond */
    font-size: 9px !important; /* default to 10px */
    border: 1px solid var(--color-border) !important;
}

.dialog_book_venue_state_summary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    margin: 0.5rem;
}
.dialog_book_venue_state_summary_box {
    display: flex;
    padding: 0.2rem;

    margin: 1rem auto;
}
.dialog_book_venue_state_summary_price {
    width: 100%;
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    border: 1px solid var(--color-border);
    padding: 0.3rem;
    margin: 0.3rem;
}
.dialog_book_venue_state_summary_price * {
    margin: 0 1rem;
}
.dialog_book_venue_state_summary_guests {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.dialog_book_venue_state_summary_guests_state {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--color-black);
}

.dialog_book_venue_submit {
    background-color: var(--color-logoTheme2);
    color: var(--color-black);
    font-size: larger;
    border: 1px solid var(--color-border);
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    margin: 1rem auto;
    display: block;
    width: 40%;
    cursor: pointer;
}
.dialog_book_venue_submit:hover {
    background-color: var(--color-logoTheme);
}

@media (min-width: 650px) {
    .booking_container {
    }
}
