@import url("../index.css");
header {
    height: auto;
    width: 100%;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
nav {
    margin: auto;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.5rem 0rem;
    flex-wrap: wrap;
}

.logo_link {
    fill: var(--color-logo);
}
.header_nav_icon {
    fill: var(--color-black);
    height: 40px;
    width: auto;
}
.p_tag {
    color: #45bcec;
}
