@import url("../index.css");
.host_venue_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.host_venue_h1 {
    text-align: center;
    margin: 10px auto;
}

.host_venue_addButton {
    background-color: var(--color-logoTheme);
    color: var(--color-black);
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    margin: 2rem auto;
}
/* ---------- */
.host_venue_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--color-border);
    padding: 0.5rem;
    box-shadow: var(--shadow-1);
    margin: 1rem;
}
.host_venue_section h4 {
    text-align: center;
    width: 100%;
}

.host_venue_section_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.host_venue_section_div_buttons {
    width: 100%;
}

.host_venue_section_delete {
    background-color: var(--color-backgroundWarning);
    color: var(--color-black);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    font-size: 1.2rem;
    margin: 3rem 1rem;
}
.host_venue_section_update {
    background-color: var(--color-logoTheme2);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    color: var(--color-black);
    box-shadow: var(--shadow-1);
    margin: 3rem auto;
    font-size: 1.2rem;
}
.host_venue_register_modal {
    max-width: 1400px;
    margin: auto;
    width: 98%;
    height: 95%;
    min-height: 350px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
}
.host_venue_delete_modal {
    max-width: 600px;
    margin: auto;
    width: 98%;
    height: 50%;
    min-height: 350px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

@media (max-width: 650px) {
    .host_venue_section {
        flex-direction: column;
    }
    .host_venue_section_div {
        width: 100%;
    }
}
