@import url("../index.css");

.host_venue_section_dates {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    height: fit-content;
    margin: 3px 0;
    background-color: var(--color-logoTheme2);
    position: relative;
    flex-wrap: wrap;
    max-width: 500px;
}
.host_venue_section_disabled {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--color-border);
    height: fit-content;
    background-color: fff;
    position: relative;
}
.host_venue_section_div_item {
    margin: 0 10px;
}
.host_venue_section_div_item_h4 {
    width: 100%;
}
.host_venue_section_div_item_dates {
    display: flex;
    margin: auto;
}
.host_venue_section_contact i {
    font-size: 10px;
}
.host_venue_section_contact {
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.host_venue_section_contact {
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.host_venue_section_contact_bool {
    position: absolute;
    transform: translate(-20%);
    background-color: white;
    padding: 2rem;
    z-index: 2;
}
