@import url("../index.css");

.profile_id_div {
    height: 40%;
}

.profile_bookings_div {
    height: 60%;
}

@media (max-width) {
    .profile_id_div {
        height: 170px;
    }
    .profile_bookings_div {
        min-height: 60%;
    }
}
