@import url("../index.css");

.profile_id_div {
    height: 40%;
}

.profile_bookings_div {
    height: 60%;
}

@media (max-width: 650px) {
    .profile_id_div {
        height: 200px;
        overflow: hidden;
    }
    .profile_bookings_div {
        margin-top: 1rem;
    }
}
