@import url("../index.css");

.register_venue_form {
    padding: 0.5rem;
    margin: auto;
    justify-items: center;
}

.register_venue_section_one {
    min-width: 250px;
}

.register_venue_section_two {
    min-width: 290px;

    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.register_venue_section_three {
    min-width: 290px;
}

.register_venue_address_header {
    text-align: center;
    margin-top: 1rem;
}

.register_venue_location_search {
    margin-top: 1rem;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    background-color: var(--color-logoTheme2);
    padding: 0.5rem;
    border-radius: 1px;
    margin: auto;
    max-width: 400px;
}

.register_venue_description_label {
    padding: 0.2rem;
    text-transform: capitalize;
}
.register_venue_description_input {
    min-height: 50%;
    padding-inline-start: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
}

.register_venue_div_submit {
    min-width: 100%;
    text-align: center;
}

.register_venue_submit_button {
    background-color: var(--color-logoTheme);
    padding: 1rem 3rem;
    box-shadow: var(--shadow-1);
    height: 3rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}
.register_venue_div_submit_success {
    background-color: var(--color-backgroundSuccess);
    padding: 3px;
    color: var(--color-black);
    width: fit-content;
}

.register_venue_div_submit_error {
    color: var(--color-black);
    background-color: var(--color-backgroundWarning);
    width: fit-content;
    margin: auto;
    padding: 3px;
}

@media (min-width: 650px) {
    .register_venue_form {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 1rem;
        padding: 0.5rem;
        margin: auto;
        justify-items: center;
    }
    .register_venue_location_search {
        margin-left: 0;
    }
}
