@import url("../index.css");
.search_input {
    border: none;
    writing-mode: horizontal-tb !important;
    font-size: 1.2rem;
    color: var(--color-black);
    cursor: pointer;
    background-color: transparent;
    width: 100%;
}
.search_input :focus {
    outline: none !important;
}

.search_div {
    width: 90%;
    height: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: auto;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: var(--shadow-1);
    background-color: var(--color-background);
}
@media (max-width: 550px) {
    .search_div {
        display: none;
    }
}
