@import url("../index.css");

.update_venue_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update_venue_location {
    text-align: center;
}
.update_venue_location_div {
    display: flex;
    flex-direction: column;
}

.update_venue_boolean {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
}

.update_venue_boolean_true {
    display: flex;
    flex-direction: column;
    background-color: var(--color-logoTheme2);
    width: 4rem;
    place-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--color-logo);
    box-shadow: var(--shadow-2);
    cursor: pointer;
}
.update_venue_boolean_false {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    width: 4rem;
    place-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    cursor: pointer;
}

.update_venue_input {
    padding-inline-start: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    margin: 0.5rem auto;
}

.update_venue_price_label {
    margin: auto;
}

.update_venue_select_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.update_venue_select_div select {
    width: fit-content;
}

.update_venue_submit_button {
    background-color: var(--color-logoTheme);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    font-size: 1rem;
    margin: 3rem auto;
    width: 100%;
    max-width: 150px;
}

@media (min-width: 650px) {
    .update_venue_location {
        width: 100%;
        display: flex;
        margin: 2rem;
        justify-content: space-evenly;
    }
    .update_venue_boolean {
        margin: 2rem;
    }
}
