@import url("../index.css");

.madeBookings_h1 {
    text-align: center;
}
.madeBookings {
    height: 100%;
    width: 100%;
}

.madeBookings_container {
    min-height: 300px;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    border-radius: 10px;
    position: relative;
}
.madeBookings_container_top {
    width: 100%;
    height: fit-content;
    background-color: var(--color-background);
    color: var(--color-black);
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
}
.madeBookings_container_top h3 {
    padding: 0.5rem;
}
.madeBookings_container_top_startAndEnd {
    text-decoration: underline;
}
.madeBookings_meta {
    margin: auto;
}

.madeBookings_info {
    border: 0.5rem solid var(--color-background);
}

.madeBookings_imageContainer {
    height: 150px;
    width: 250px;
    margin-left: 0;
    margin: 20px;
}

.madeBookings_priceDiv {
    border-radius: 4px;
    border: 1px solid var(--color-border);
    padding: 1rem;
    background-color: var(--color-logoTheme2);
    margin: auto;
}

.madeBookings_cancel {
    background-color: var(--color-backgroundWarning);
    border: 1px solid var(--color-border);
    padding: 0.3rem;
    height: 30px;
    margin: 0.3rem;
}

.madeBookings_link {
    color: var(--color-black);
    width: 100%;
}

.madeBookings_link_to_home {
    color: var(--color-black);
    font-size: larger;
    margin: 1rem;
}

@media (max-width: 650px) {
    .madeBookings_imageContainer {
        height: 150px;
        width: 270px;
    }
}
