@import url("../index.css");

.meta_data {
    border: 1px solid var(--color-border);
    width: fit-content;
    margin-left: 10px;
    background-color: var(--color-background);
    padding: 15px;
    border-radius: 10px;
}
.meta_detail {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.check_icon {
    margin: 0 5px;
}
.info_data {
    border: 1px solid var(--color-border);
    width: 50%;
    margin-left: 10px;
    background-color: var(--color-logoTheme2);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_price {
    padding: 5px;
    text-decoration: underline;
    color: black;
    font-size: 1rem;
    background-color: white;
    text-align: center;
    width: 100%;
}
