@import url("../index.css");

.venue_location_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.venue_location_div_text {
    padding: 0.5rem;
}

.venue_location_div_continent {
    font-size: 0.8rem;
}

.venue_location_div_map {
    width: 95%;
    height: 100%;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    place-content: center;
}
