@import url("../index.css");

.venue_wrapper {
    display: flex;
    flex-direction: column;
}

.venue_heading {
    font-weight: 100;
    color: var(--color-black);
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
}

.back_arrow {
    margin: 7px;
    font-size: 1.4rem;
    color: var(--color-black);
}

.info_layout {
    display: flex;
    gap: 10px;
}
