@import url("../index.css");

.yup_section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.yup_input {
    padding-inline-start: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
}

.yup_label {
    padding: 0.2rem;
    text-transform: capitalize;
}
.yup_input_error {
    color: var(--color-black);
    background-color: var(--color-backgroundWarning);
    width: fit-content;
    margin: auto;
    padding: 3px;
}
