@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Coda&family=Farro:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,200&display=swap");
:root {
    --color-background: rgb(241, 241, 224);
    --color-logo: #40c8ff;
    --color-zilla: #76d4d9;
    --color-yellow: #efef92;
    --color-icon: #4c4c4a;
    --color-grey: #b5b4b4;
    --break-medium: 450px;
    --break-large: 650px;
    --icon-small: 1.5rem;
    --icon-big: 2.4rem;
    --font-primary: "Coda", cursive;
    --font-secondary: "Farro", sans-serif;
    --font-small: 0.8rem;
    --font-medium: 1rem;
    --font-large: 1.2rem;
    --font-big: 1.5rem;
    --search-small: 1.2rem;
    --search-big: 2.3rem;
    --logo-big: 3.5rem;
    --logo-small: 1.2rem;
}
#root {
    max-width: 1400px;
    margin: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-wrapper {
    height: 100dvh;
    height: 100vh;
    display: grid;
    font-family: "Coda", cursive;
    grid-template-rows:
        auto
        1fr
        auto;
}
.host-wrapper {
    height: 100dvh;
    height: 100vh;
    display: grid;
    font-family: "Coda", cursive;
    grid-template-rows:
        auto
        1fr
        auto;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
