@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Coda&family=Farro:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,200&family=Source+Sans+3&display=swap");

:root {
    --color-background: rgba(166, 166, 189, 0.15);
    --color-logo: #40c8ff;
    --color-logoTheme: rgba(64, 200, 255, 0.5);
    --color-black: #172b4d;
    --color-yellow: #efef92;
    --color-border: rgba(220, 220, 221, 0.2);
    --break-medium: 450px;
    --break-large: 650px;
    --icon-small: 1.5rem;
    --icon-big: 2.4rem;
    --font-primary: "Source Sans 3", sans-serif;
    --font-secondary: "Farro", sans-serif;
    --font-small: 0.8rem;
    --font-medium: 1rem;
    --font-large: 1.2rem;
    --font-big: 1.5rem;
    --search-small: 1.2rem;
    --search-big: 2.3rem;
    --logo-big: 3.5rem;
    --logo-small: 1.2rem;
    --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}
#root {
    max-width: 1400px;
    margin: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-wrapper {
    height: 100dvh;
    height: 100vh;
    display: grid;
    font-family: "Coda", cursive;
    grid-template-rows:
        auto
        1fr
        auto;
}
.host-wrapper {
    height: 100dvh;
    height: 100vh;
    display: grid;
    font-family: "Coda", cursive;
    grid-template-rows:
        auto
        1fr
        auto;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
